@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
svg {
  max-width: 100%;
}
body {
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* top offer  */
.top-offer-section {
  background-color: #4635ce;
  padding: 14px 0;
}
.top-offer {
  max-width: 945px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.top-logo {
  width: 127px;
}
.t-o-middle-content h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  column-gap: 5px;
  font-size: 18px;
}
.top-offer a {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  column-gap: 3px;
  background: #ffec2a;
  padding: 9px 25px;
  color: black;
  border-radius: 5px;
  animation: animated-top-btn 3s infinite;
  cursor: pointer;
}

@keyframes animated-top-btn {
  0%,
  100% {
    transform: rotate(3deg); /* Start and end at the same position */
  }
  50% {
    transform: rotate(0deg); /* Move up slightly */
  }
}
.top-offer a svg {
  width: 19px;
}
.top-offer .dont-miss {
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  display: flex;
  column-gap: 4px;
}
.dont-miss img {
  width: 21px;
}

.t-o-middle-content h2 .month {
  font-weight: 400;
  font-size: 18px;
  text-decoration: line-through;
  text-decoration-color: red;
}

/* Responsive for screens 1000px and below */
@media (max-width: 1000px) {
  .top-logo {
    width: 100px;
  }
  .t-o-middle-content h2 {
    font-size: 15px;
  }
  .top-offer .dont-miss {
    font-size: 14px;
  }
  .dont-miss img {
    width: 15px;
  }
  .t-o-middle-content h2 .month {
    font-size: 15px;
  }
  .top-offer a {
    font-size: 15px;

    padding: 7px 22px;
  }
}
@media (max-width: 1000px) {
  .top-offer {
    flex-direction: column;
    row-gap: 12px;
    padding: 0 12px;
  }
}
@media (max-width: 450px) {
  .t-o-middle-content h2 {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
  }
}

/* header section */
.header-section {
  box-shadow: 0 1px 3px 1px #ddd;
}
.header {
  max-width: 1070px;
  margin: 0 auto;
  padding: 15px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
}
.header .logo img {
  width: 115px;
}
.header-btn {
  color: white;
  padding: 14px 19px;
  border-radius: 7px;
  background: #22b276;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.header-btn:hover {
  transform: scale(1.1);
}

/* rating section */
.rating-section {
  padding: 31px 12px 15px 12px;
}
.rating {
  max-width: 1037px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}
.rating-div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.rating-div img {
  width: 120px;
}
.rating-div p {
  font-weight: 500;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .rating-div img {
    width: 100px;
  }
  .rating-div p {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .rating {
    align-items: center;
  }

  .rating-div {
    align-items: flex-start;
  }
  .rating-div:nth-child(2),
  .rating-div:nth-child(3) {
    display: none;
  }
  .rating-div img {
    width: 120px;
  }
  .rating-div p {
    font-size: 14px;
    text-align: left;
  }
}

/* effective-section */
.effective-section {
}
.effective {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 79px;
}
.effective-top {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.effective-top h1 {
  font-size: 46px;
  line-height: 60px;
  color: rgb(3, 0, 37);
  font-weight: 700;
  text-align: center;
}
.effective-top p {
  color: rgb(29, 27, 33);
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  text-align: center;
}
.effective-img {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
    /* larger, soft shadow */ 0 6px 6px rgba(0, 0, 0, 0.1); /* smaller, sharper shadow */
  border-radius: 10px; /* Optional: Rounded corners for a smoother look */
  max-width: 800px;
  margin: 0 auto;
}
.effective-img img {
  z-index: 8;
}
.e-animated-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  background-color: #007bff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  line-height: 70px;
}
.e-animated-btn::before {
  content: "";
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #007bff;
  border-radius: 50%;
  animation: animateBtn 0.9s ease-out infinite;
}
@keyframes animateBtn {
  0%,
  30% {
    transform: scale(0);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
.e-animated-btn i {
  color: white;
  font-size: 50px;
}

.effective-bottom {
  /* max-width: 620px;
  margin: 0 auto; */
  display: flex;
  justify-content: space-evenly;
}
.e-list-left {
}
.e-list-left ul {
}
.e-list-left ul li {
}
.e-list-left ul li,
.e-list-right ul li {
  font-size: 16px;
  font-weight: 600;
  color: rgb(3, 0, 37);
  line-height: 29px;
}
.e-list-left ul li i,
.e-list-right ul li i {
  color: #007bff;
}
.e-list-right ul,
.e-list-left ul {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.e-list-right {
}
.e-list-right ul {
}
.e-list-right ul li {
}
.effective-btn {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.e-btn {
  max-width: 800px;
  margin: 0 auto;
  padding: 19px 60px;
  border: none;
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 14px;
  font-weight: 600;
  word-spacing: 2px;
  transition: 0.3s;
}
.e-btn:hover {
  transform: scale(1.1);
}
.e-btn i {
}
.e-btn span {
}
.effective-btn ul {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
.effective-btn ul li {
  color: rgb(84, 89, 95);
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  column-gap: 12px;
}
.effective-btn ul li span {
}
.effective-btn ul li i {
  color: rgb(10, 223, 10);
}

/* responsive effective section */
@media (max-width: 1000px) {
  .effective {
    padding: 0 20px 50px 20px;
  }
}
@media (max-width: 768px) {
  .effective-top h1 {
    font-size: 30px;
    line-height: 39px;

    text-align: left;
  }
  .effective-top p {
    font-size: 16px;
    line-height: 26px;

    text-align: left;
  }
  .effective-bottom {
    display: flex;
    flex-direction: column;

    row-gap: 1px;
  }
  .effective-btn ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .effective-top h1 {
    font-size: 25px;
  }
  .effective-top p {
    font-size: 14px;
  }
  .e-list-left ul li,
  .e-list-right ul li {
    font-size: 13px;
  }
  .e-btn {
    padding: 13px 21px;

    font-size: 11px;
  }
}

/* testimonial section */
.testimonial-section {
  background: linear-gradient(to right, #fa1616, #5b57e0);
}

.testimonial {
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 57px;
}
.testimonial-btns {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  top: -30px;
}
.testimonial-btns div {
  background-color: white;
  padding: 18px 21px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 3px 0px;
  border-radius: 5px;
  display: flex;
  column-gap: 12px;
  align-items: center;
}
.testimonial-btns div i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 18px;
  color: white;
}
.testimonial-btns div span {
  color: rgb(3, 0, 37);
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}
.t-b-1 i {
  background-color: #00ff00;
}
.t-b-2 i {
  background-color: orange;
}
.t-b-3 i {
  background-color: #007bff;
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
.testimonial-content h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;

  color: white;
}
.testimonial-profile {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.testimonial-profile img {
  max-width: 70px;
  border-radius: 50%;
}
.profile-data {
}
.profile-data h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  color: white;
}

/* testimonial section responsive */
@media (max-width: 1000px) {
  .testimonial {
    padding: 0 20px 57px 20px;
  }
}
@media (max-width: 768px) {
  .testimonial-btns div {
    flex-direction: column;
    align-items: center;
  }
  .testimonial-btns div span {
    text-align: center;
  }
  .testimonial-content {
    align-items: flex-start;
  }
  .testimonial-content h4 {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .testimonial-btns {
    column-gap: 10px;
  }
  .testimonial-btns div span {
    font-size: 14px;
  }
  .testimonial-btns div {
    padding: 13px 4px;
  }
}

/* currencies */
.currencies-section {
  background-color: #f5f9fb;
}
.currencies {
  padding: 70px 0;
}

.currencies h3 {
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 109, 249);
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
}
.currencies-slider {
  margin-top: 60px !important;
  padding: 0 20px;
}
.swiper-container {
  max-width: 1100px;
  margin: 0 auto;

  width: 100%; /* Set the desired width of the container 
       /* Adjust height if needed */
  overflow: hidden; /* Hide content that overflows the container */
}
.swiper-slide img {
  width: 100%;
  border-radius: 5px;
}

/* currencies section responsive */
@media (max-width: 1000px) {
  .currencies h3 {
    font-size: 28px;
    line-height: 41px;
  }
}
@media (max-width: 768px) {
  .currencies h3 {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .currencies h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .currencies {
    padding: 24px 0;
  }
  .currencies-slider {
    margin-top: 23px !important;
  }
}

/* services section */
.services-section {
}
.services {
  max-width: 1130px;
  margin: 0 auto;
  padding: 60px 20px;
}
.services h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.services p {
  font-size: 18px;
  line-height: 38px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
}
.services-img {
  opacity: 0;
  transform: scale(0.3); /* Initial scale */
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out; /* Smooth transition */
}

.services-img img {
  width: 100%; /* Optional: make the image responsive */
}

.services-img.scale-image {
  opacity: 1;
  transform: scale(1); /* Final scale after load */
}

/* services section responsive */
@media (max-width: 1000px) {
  .services h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .services p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .services h2 {
    font-size: 23px;

    text-align: left;
  }
  .services p {
    font-size: 16px;
    text-align: left;
  }
}

/* subscription-section  */
.subscription-section {
  background-color: #f5f9fb;
}
.subscription {
  max-width: 1130px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.subscription h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.subscription p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
  max-width: 791px;
  margin: 0 auto;
}
.subscription-details {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  padding: 10px 10px;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.s-img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-img-content img {
  transition: 0.3s;
}

.s-img-content img:hover {
  transform: translateY(-10px);
}
.subscription-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.subscription-content h3 {
  color: rgb(3, 0, 37);
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.subscription-content p {
  color: rgb(29, 27, 33);
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
}
/* subscription section responsive */
@media (max-width: 1000px) {
  .subscription h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .subscription p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .subscription {
    row-gap: 8px;
  }
  .subscription h2 {
    font-size: 23px;

    text-align: left;
  }
  .subscription p {
    font-size: 16px;
    text-align: left;
  }
  .subscription-content {
    order: -1;
    align-items: flex-start;
    row-gap: 0px;
  }
  .subscription-details {
    grid-template-columns: 1fr;
  }

  .subscription p {
    margin-top: 1px;
  }
}

/* pricing-section */
.pricing-section {
}
.pricing {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.pricing h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.pricing p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
  max-width: 1115px;
  margin: 0 auto;
}

/* pricing slider */
.pricing-slider-wrapper {
  max-width: 1000px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the slider */
  height: auto; /* Adjust height automatically */
  overflow: hidden; /* Hide overflow */
  border: 1px solid #ddd; /* Border for styling */
  border-radius: 8px; /* Rounded corners */
}

.pricing-slider {
  display: flex; /* Use flex layout */
  overflow: hidden; /* Hide overflow */
}

.swiper-wrapper {
  display: flex; /* Ensure the wrapper uses flex */
}
.swiper-slide {
  width: 100% !important;
}
.pricing-slide img {
  width: 100% !important; /* Make the image fit the slider */
  height: auto; /* Maintain aspect ratio */
}

.pricing-pagination {
  bottom: 10px; /* Adjust pagination position */
  text-align: center; /* Center the pagination */
}

.pricing-pagination .swiper-pagination-bullet {
  background-color: #007bff; /* Customize pagination dots */
}

/* pricing section responsive */
/* subscription section responsive */
@media (max-width: 1000px) {
  .pricing h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .pricing p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .pricing {
    row-gap: 8px;
  }
  .pricing h2 {
    font-size: 23px;

    text-align: left;
  }
  .pricing p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
}

/* customize section */
.customize-section {
  background-color: #f5f9fb;
}
.customize {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.customize h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.customize p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
  max-width: 870px;
  margin: 0 auto;
}
.customize-image {
  width: 100%;
}
.customize-image img {
  width: 100%;
}
/* custom section responsive */

@media (max-width: 1000px) {
  .customize h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .customize p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .customize {
    row-gap: 8px;
  }
  .customize h2 {
    font-size: 23px;

    text-align: left;
  }
  .customize p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
}

/* slaes section */

/* customize section */
.sales-section {
}
.sales {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
.sales-img {
  border: 1px solid #ddd;
  border-radius: 12px;
  transition: 0.3s;
}
.sales-img:hover {
  box-shadow: 0 0 5px;
}
.sales h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.sales p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;

  margin: 0 auto;
}
.all-sales {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  padding: 0 20px;
}
.single-sales {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.sales-content {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: center;
}
.sales-content h3 {
  color: rgb(3, 0, 37);
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}
.sales-content p {
  color: rgb(29, 27, 33);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  text-align: center !important;
}
/* custom section responsive */

@media (max-width: 1000px) {
  .sales h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .sales p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
  .sales-content h3 {
    font-size: 15px;
    line-height: 16px;
  }
  .sales-content p {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (max-width: 768px) {
  .sales {
    row-gap: 8px;
  }
  .sales h2 {
    font-size: 23px;

    text-align: left;
  }
  .sales p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
  .all-sales {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .sales-content h3 {
    font-size: 11px;
    line-height: 16px;
  }
  .sales-content p {
    font-size: 10px;
    line-height: 15px;
  }
  .all-sales {
    padding: 20px 0;
  }
}

/* payment section */
.payment-section {
  background-color: #f5f9fb;
}
.payment {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.payment h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.payment p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.all-payment {
  max-width: 1250px;
  /* display: grid; */
  grid-template-columns: repeat(9, 1fr);
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 40px 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-payment {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: white;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  flex: 1 0 10%;
  box-sizing: border-box;
  margin: 5px;
}
.single-payment:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.single-payment img {
  max-width: 30px;
}
.payment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.payment-content h5 {
  color: rgb(34, 34, 34);
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
.payment-content h6 {
  color: rgb(117, 117, 117);
  font-size: 10px;
  line-height: 18px;
  font-weight: 600;
}
/* custom section responsive */

@media (max-width: 1000px) {
  .payment h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .payment p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .payment {
    row-gap: 8px;
  }
  .payment h2 {
    font-size: 23px;

    text-align: left;
  }
  .payment p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
}

/* grow section */
.grow-section {
}
.grow {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.grow h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.grow p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;

  margin: 0 auto;
}

/* payment section */
.track-section {
  background-color: #f5f9fb;
}
.track {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.track h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.track p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
  max-width: 1070px;
  margin: 0 auto;
}
.track-img-view {
  padding: 30px 10px;
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.track-btn-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.track-btn-container button {
  padding: 10px 18px;
  background: #fff;
  outline: none;
  border: 1px solid #9494cb;
  color: rgb(29, 27, 33);
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  cursor: pointer;
  transition: 0.3s;
}
.track-btn-container button:hover {
  border: 1px solid blue;
}
.track-btn-container button.active-btn {
  background: blue;
  color: white;
}
.track-img-container {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.track-img-container img {
  min-width: 100%;
  height: auto;
  display: none;
}

.track-img-container img.active-img {
  display: block;
  min-width: 100%;
}
/* track section responsive */

@media (max-width: 1000px) {
  .track h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .track p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .track {
    row-gap: 8px;
  }
  .track h2 {
    font-size: 23px;

    text-align: left;
  }
  .track p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
  .track-btn-container {
    row-gap: 10px;
  }
  .track-btn-container button {
    padding: 8px 15px;

    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .track-btn-container button {
    padding: 6px 8px;
    font-size: 10px;
  }
}

/* features section  */
.feature-section {
}
.feature {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.feature h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.feature p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
  max-width: 941px;
  margin: 0 auto;
}
.feature-img-slider {
  max-width: 1130px;
  margin: 10px 10px;
  overflow: hidden;
}
.feature-img-slider img {
  width: 100%;
}
/* feature section responsive */
@media (max-width: 1000px) {
  .feature h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .feature p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .feature {
    row-gap: 8px;
  }
  .feature h2 {
    font-size: 23px;

    text-align: left;
  }
  .feature p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
}
/* cart */
.cart-section {
  background-color: #f5f9fb;
}
.cart {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.cart h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
.cart p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;
  max-width: 885px;
  margin: 0 auto;
}
.all-cart {
  padding: 20px 10px;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.single-cart {
  border: 5px solid #f5f9fb;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.single-cart:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
}
.cart-img {
  position: relative;
}
.cart-img img {
}
.cart-rate {
  margin-bottom: 30px;
}
/* cart section responsive */
@media (max-width: 1000px) {
  .cart h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .cart p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .cart {
    row-gap: 8px;
  }
  .cart h2 {
    font-size: 23px;

    text-align: left;
  }
  .cart p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
  .all-cart {
    grid-template-columns: 1fr;
  }
}

/* bill section */
.bill-section {
}
.bill {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.bill h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
  max-width: 870px;
}
.bill-container {
  display: grid;
  padding: 20px 0;
  max-width: 1100px;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
}
.bill-left {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.bill-left ul {
}
.bill-left ul li {
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  display: flex;
  column-gap: 5px;
}
.bill ul li i {
  color: rgb(31, 184, 31);
  font-weight: 700;
}
.bill-left p {
  color: rgb(34, 34, 34);
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}
.bill-middle {
  display: flex;
  justify-content: center;
}
.bill-middle img {
  max-width: 100px;
}
.bill-right {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}
.right-bill-single {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 20px 3px;
  border-bottom: 1px solid #ddd;
}
.right-bill-single img {
  max-width: 35%;
}
.p-b-r-s-i {
  position: relative;
  max-width: 35%;
}
.p-b-r-s-i img {
  max-width: 100% !important;
}
.p-e-animated-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;

  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  line-height: 70px;
}
.p-e-animated-btn::before {
  content: "";
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(35, 179, 119);
  border-radius: 50%;
  animation: p-animateBtn 0.9s ease-out infinite;
}
@keyframes p-animateBtn {
  0%,
  30% {
    transform: scale(0);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
.bill-single-content {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.bill-single-content h5 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: black;
}
.bill-single-content h6 {
  color: rgb(29, 27, 33);
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}
.p-b-r-s-1 {
  border: 3px solid rgb(35, 179, 119);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(35, 179, 119, 0.1),
    0 6px 20px rgb(35, 179, 119, 0.1);
}
.p-b-r-s-h5 {
  color: rgb(35, 179, 119);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.p-b-r-s-h6 {
  color: rgb(29, 27, 33);
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}
/* bill section responsive */
@media (max-width: 1000px) {
  .bill h2 {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 768px) {
  .cart {
    row-gap: 8px;
  }
  .bill h2 {
    font-size: 23px;

    text-align: left;
  }
  .bill-container {
    grid-template-columns: 1fr;
  }
}

/* cost section */
.cost-section {
  background-color: #f5f9fb;
}
.cost {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.cost h2 {
  color: rgb(3, 0, 37);
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
  max-width: 1140px;
}
.cost p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(29, 27, 33);
  font-weight: 500;
  text-align: center;

  margin: 0 auto;
}
.all-cost {
  max-width: 1120px;
  padding: 30px 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  gap: 16px; /* This replaces column-gap for flex */
}
.single-cost {
  background: white;
  border-radius: 12px;
  padding: 20px 20px;
  border: 1px solid #ddd;
  transition: 0.3s;
}
.single-cost:hover {
  border: 1px solid blue;
}
.s-cost-top {
  display: flex;

  flex-direction: column;
  row-gap: 14px;
  align-items: center;
}

.s-c-t-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: rgb(84, 89, 95);
  text-transform: uppercase;
}
.cost-price {
  color: rgb(3, 0, 37);
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;
}
.cost-customer {
  font-size: 15px;
  line-height: 27px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  display: flex;
  column-gap: 4px;
  justify-content: center;
}
.cost-customer i {
  color: #007bff;
  font-weight: 800;
}
.cost-affiliate {
  color: rgb(29, 27, 33);
  font-size: 15px;
  line-height: 27px;
  font-weight: 600;
  justify-content: center;
  display: flex;
  column-gap: 6px;
}
.cost-affiliate i {
  color: red;
  font-weight: 800;
}
.one-time-box {
  background-color: #fbfcff;
  padding: 18px 41px;
  border-radius: 16px;
  border: 1px dotted blue;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
}
.one-time-box p {
  font-size: 16px !important;
  line-height: 29px !important;
  font-weight: 400 !important;
  color: rgb(89, 87, 91) !important;
  text-decoration: line-through !important;
  text-decoration-color: red !important;
  text-align: center !important;
}
.one-time-box h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(34, 34, 34);
}
.one-time-box h4 {
  font-size: 14px;
  background: yellow;
  border: 1px dotted red;
  font-weight: 600;
  line-height: 21px;
  color: rgb(15, 15, 15);
  padding: 8px 9px;
  border-radius: 5px;
}
.one-time-btn {
  text-align: center;
  padding: 20px 0;
}
.one-time-btn button {
  text-transform: uppercase;
  border: 2px solid #3582ff;
  background: transparent;
  font-size: 20px;
  color: #3582ff;
  padding: 13px 57px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
.one-time-btn button:hover {
  color: white;
  background-color: #3582ff;
}
.one-time-btn button:nth-child(3) {
  background-color: #3582ff;
  color: white;
}
.one-time-btn p {
  font-size: 16px !important;
  line-height: 29px !important;
  color: rgb(39, 133, 255) !important;
  font-weight: 600 !important;
  margin-top: 9px !important;
}
.one-time-btn p:hover {
  transform: scale(1.1);
}
.s-cost-top img {
  max-width: 108px;
}
.s-cost-bottom {
  margin-top: 21px;
}
.s-cost-bottom ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.s-cost-bottom ul li {
  color: rgb(3, 0, 37);
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.s-cost-bottom ul li i {
  font-weight: 700;
}
.cost-hr {
  width: 95%;
  height: 1px;
  background-color: #706c6c;
  margin: 0 auto;
}
.c-t {
  color: blue;
}
.x-t {
  color: red;
}
.grabe {
  background-color: black;
  color: white;
  font-size: 22px;
  line-height: 33px;
  font-weight: 800;
  width: 74%;
  text-align: center;
  padding: 16px 9px;
  border-radius: 5px;
  margin: 0 auto;
}
/* cost section responsive */
@media (max-width: 1000px) {
  .cost h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .cost p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .cost {
    row-gap: 8px;
  }
  .cost h2 {
    font-size: 23px;

    text-align: left;
  }
  .cost p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
  .all-cost {
    grid-template-columns: 1fr;
  }
  .single-cost {
    width: 100%;
  }
  .one-time-btn p {
    text-align: center !important;
  }
}

/* free-section */
.free-section {
  background-color: #f5f9fb;
  margin-top: 10px;
  padding: 10px;
}
.free {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 1px;
}
.free1-all {
  padding: 22px 25px;
  display: flex;
  row-gap: 28px;
  flex-direction: column;
}
.free1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 12px;
}
.free1-left {
  display: flex;
  column-gap: 13px;
  width: 75%;
}
.free1-left img {
  width: 45px;
  height: 45px;
}
.f1-left-content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.f1-left-content h6 {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  color: rgb(255, 255, 255);
  background: blue;
  max-width: 145px;
  text-align: center;
  padding: 6px 5px;
  border-radius: 6px;
  text-transform: uppercase;
}
.f1-left-content h5 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.f1-left-content p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.free1-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  align-items: flex-end;
}
.free1-right h6 {
  font-size: 14px;
  line-height: 25px;
  color: rgb(34, 34, 34);
  font-weight: 600;
}
.free1-right h6 i {
  background: #50f850;
  border-radius: 50%;
  padding: 6px;
  color: white;
  margin-right: 7px;
}
.free1-right h5 {
  line-height: 18px;
  font-size: 18px;
}
.free2 {
  color: rgb(34, 34, 34);
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  padding: 29px 0;
  text-align: center;
  background-color: #edf9ff;
}

/* free section responsive */
@media (max-width: 768px) {
  .free1 {
    flex-direction: column;
  }
  .free1-left {
    width: 100%;
  }
  .free1-right {
    width: 100%;
    align-items: flex-start;
  }
}

/* unconditional-section */
.unconditional-section {
}
.unconditional {
  max-width: 1100px;
  margin: 0 auto;
}
/* testi rate */
.testi-rate {
  max-width: 1100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 12px 30px;
  justify-content: space-between;
  border-radius: 25px;
  background-color: white;
}
.testi-img {
  max-width: 12%;
}
.testi-img img {
  border-radius: 50%;
}
.testi-content {
  max-width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.rate-star {
  margin: 0 !important;
  text-align: left !important;
}
.rate-star i {
  color: #ffcf05;
}
.rate-desc {
  color: rgba(29, 27, 33, 0.5) !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  text-align: left !important;
}
.rate-name {
  font-weight: 600;
  color: rgb(29, 27, 33);
  font-size: 16px;
  line-height: 24px;
}
/* grow section responsive */

@media (max-width: 1000px) {
  .grow h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .grow p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .grow {
    row-gap: 8px;
  }
  .grow h2 {
    font-size: 23px;

    text-align: left;
  }
  .grow p {
    font-size: 16px;
    text-align: left;
    margin-top: 1px;
  }
}
/*============= more import  css ===========*/

@media (min-width: 300px) {
  .cur-slide {
    width: 129.5px !important;
  }
}
@media (min-width: 500px) {
  .cur-slide {
    width: 150.33px !important;
  }
}
@media (min-width: 768px) {
  .cur-slide {
    width: 179.75px !important;
  }
}
@media (min-width: 1150px) {
  .cur-slide {
    width: 204px !important;
  }
}
